*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    flex-direction:column;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}
.btn-1{
    height: 4em;
    width: 9em;
    background-color: white;
}
.btn-1:hover{
    background: #ff96ad;
    box-shadow:  0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
    border-color: #ff96ad;
    cursor: pointer;
    color: white;
    font-size: 20px;
}   